@font-face {
    font-family: 'OriginTech';
    src: url("../assets/Fonts/OriginTech.ttf");
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    /*========== Colors ==========*/
    /* Change favorite color - Blue 210 - Purple 250 - Green 142 - Pink 340*/
    --hue-color: 210;
  
    /* HSL color mode */
    --first-color: hsl(var(--hue-color), 96%, 54%);
    --first-color-light: hsl(var(--hue-color), 96%, 69%);
    --first-color-alt: hsl(var(--hue-color), 96%, 37%);
    --first-color-lighter: hsl(var(--hue-color), 14%, 96%);
    --title-color: hsl(var(--hue-color), 12%, 15%);
    --text-color: hsl(var(--hue-color), 12%, 35%);
    --text-color-light: hsl(var(--hue-color), 12%, 65%);
    --white-color: #FFF;
    --body-color: hsl(var(--hue-color), 100%, 99%);
    --container-color: #FFF;
  
    /*========== Font and typography ==========*/
    --body-font: 'Lato', sans-serif;
    --pricing-font: 'Rubik', sans-serif;
    --biggest-font-size: 1.75rem;
    --normal-font-size: .938rem;
    --h2-font-size: 1.25rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --tiny-font-size: .625rem;
  
    /*========== Margenes Bottom ==========*/
    --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-1: 1rem;
    --mb-1-25: 1.25rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;

}
/*header*/

.header{
    width: 100%;
    height: auto;
}

.header-figure{
    max-width: 1440px;
    height:300px;
    margin: 0 auto;
    
}

.header-figure img{
    width: 100%;
    height: 100%;
    object-position: 50% 50%;
}

.nav{
    width: 100%;
    height: 70px;
    border-top: 3px solid #EABE3F;
    border-bottom: 3px solid #EABE3F;
    background-color: #171717;
    z-index: 99;

}

/* barra de navegacion */
.nav ul{
    display: flex;
    gap: 100px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.nav ul li{
    display: flex;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.nav ul li a{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    text-align: center;
    font-weight: 500;
    text-decoration: none;
   
    
}

.nav ul li a:hover{
  width: 300px;
  background-color: #000000;
  color: #f3f3f3;
  padding: 1em;
  transition: 0.5s;

}

.nav ul li a .icon{
    position: relative;
    font-size: 1.8em;
    transition: 0.5s;
    color: #EABE3F;
}


.nav ul li a .text{
   
    color: #EABE3F;
    font-weight: 400;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    margin-left: 1em;
    font-family: sans-serif;
    font-weight: 100;
  
}

/*Carosuel*/
.slider{
    max-width: 1440px;
    height: 500px;
    margin: 0 auto;
    margin-top: 0px;
    position: relative;
}
.particles-js{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: rgba(255, 0, 0, 0);
  }

.slider .list .item{
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}

.slider .list .item img{
    width: 100%;
    height: 100%;
    object-position: 50% 50%;
    
}

.slider .list .item::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to top, #00000065 0%, transparent);
}

.slider .list .item .content{
    position: absolute;
    left: 10%;
    top: 20%;
    width: 100%;
    max-width: 80%;
    color: #d5a20a;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    font-weight: bold;
    letter-spacing: 3px;
    z-index: 1;
}

.button-slider{
    position: relative;
    width: 100%;
    height: 10px;
    text-align: end;
    margin-top: 1em;
    z-index: 2;
  }

 

  .slider .list .item .content p:nth-child(1){
    text-transform: uppercase;
   
}
.slider .list .item .content h2{
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgb(0, 0, 0);
    margin: 0;
    
}
.slider .list .item .content p{
    font-size: 1.2em;
    font-family: sans-serif;
    line-height: 35px;
    margin: 0;
}
.slider .list .item.active{
    opacity: 1;
    z-index: 10;
}
@keyframes showContent {
    to{
        transform: translateY(0);
        filter: blur(0);
        opacity: 1;
    }
}
.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3){
    transform: translateY(30px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent .5s .7s ease-in-out 1 forwards;
}
.slider .list .item.active h2{
    animation-delay: 1s;
}
.slider .list .item.active p:nth-child(3){
    animation-duration: 1.3s;
}
.arrows{
    position: absolute;
    top: 30%;
    right: 50px;
    z-index: 100;
}
.arrows button{
    background-color: #eee5;
    border: none;
    font-family: monospace;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: x-large;
    color: #eee;
    transition: .5s;
}
.arrows button:hover{
    background-color: #eee;
    color: black;
}
.thumbnail{
    position: absolute;
    bottom: -115px;
    z-index: 11;
    display: flex;
    gap: 10px;
    width: 100%;
    height: 250px;
    padding: 0 50px;
    box-sizing: border-box;
    overflow: auto;
    justify-content: center;
    z-index: 99;
}
.thumbnail::-webkit-scrollbar{
    width: 0;
}
.thumbnail .item{
    width: 150px;
    height: 100px;
    filter: brightness(.5);
    transition: .5s;
    flex-shrink: 0;
}
.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.thumbnail .item.active{
    filter: brightness(1);
}
.thumbnail .item .content{
    position: absolute;
    inset: auto 10px 10px 10px;
    color: #efb810;
    background-color: #121212;
    text-align: center;
    border-radius: 5px;
    font-size: 0.8em;
    font-family: sans-serif;
    font-weight: 100;
}

.thumbnail{
    justify-content: start;
}
.slider .list .item .content h2{
    font-size: 40px;
    padding: 0.8em 0;
    
    
}
.arrows{
    top: 10%;
}

/*texti section bienvenidos*/

.sect-text-bienvenidos{
    width: 100%;
    height: auto;
}
.art-bienvenidos{
    max-width: 1440px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    padding: 2em;
}

.text-bienvenidos{
    width: 45%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding: 1.5em;
    
}

.text-system p{
    color: #d5a20a;
    font-family: sans-serif;
   
}

.text-title-system h2{
    font-family: sans-serif;
    font-weight: 100;
    letter-spacing: 2px;
}   

.text-parrafo-system p{

   font-family: sans-serif;
   letter-spacing: 1px;
   line-height: 25px;
}






.redes-bienvenidos{
    width: 100%;
}
.icon-redes{
    font-size: 30px;
}

.figure-bienvenidos{
    width: 50%;
    height: 500px;
}

.figure-bienvenidos img{
    width: 100%;
    height: 100%;
}
.button-fixed{
    width: 200px;
    height: 50px;
    position: fixed;
    display: flex;
    align-items: center;
    bottom: 5%;
    left: 5%;
    display: flex;
    animation: jump 2s ease-in-out infinite;
    z-index: 999;
   
  }


  .cont-logo-whats{
      display: inline-block;
      width: 50px;
      height: 50px;
      line-height: 80px;
      text-align: center;
      background-color: #006722;
      border-radius: 50%;
  }

  .logo-whatsapp{
    width: 80%;
    height: 80%;
    color: #fff;
  
  }


  /* ----------------------------------------------
  Generated by AnimatiSS
  Licensed under FreeBSD License
  URL: https://xsgames.co/animatiss
  Twitter: @xsgames_
---------------------------------------------- */


  .button-fixed a{
    background-color: #006722;
    font-size: 0.8rem;
    padding: 0.5rem;
    color: #ffffff;
    text-decoration: none;
    border-radius: 0.8rem;
  }

  .redes-fixed{
    width: 80px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 10%;
    right: 1%;
    animation: jump 2s ease-in-out infinite;
    z-index: 999;
    
  }




@keyframes jump {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px);
  }
}

/*nosotros*/
.container {
    width: 100%;
    max-width: 1440px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: var(--padding-container);
  }
  
  .hero {
    width: 100%;
    height: 400px;
   
    position: relative;
    display: flex;
    color: #fff;
  }
  
  .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../assets/Img/img5.webp');
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
  }
  
  
      /* Hero container */
  
      .hero__container {
        max-width: 800px;
        --padding-container: 0;
        display: grid;
        grid-auto-rows: max-content;
        align-content: center;
        gap: 1em;
        padding-bottom: 100px;
        
    }
  
    .hero__title {
        font-size: 3rem;
        font-family: sans-serif;
        font-weight: 100;
        letter-spacing: 5px;
        color: #d5a20a;
        font-weight: 100;
    }
    .hero__container h2 {
        font-size: 2rem;
        font-family: sans-serif;
        font-weight: 100;
        letter-spacing: 5px;
        color: #d5a20a;
       
        padding: 0.5em;
    }
  
    .hero__paragraph {
        margin-bottom: 20px;
        
    }
  
    .cta {
        display: inline-block;
  
        justify-self: center;
        color: #fff;
        text-decoration: none;
        padding: 13px 30px;
        border-radius: 32px;
    }
  
    .sect-nosotros{
        width: 100%;
        max-width: 1440px;
        padding: 2em;
        margin: 0 auto;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }
  
    .fig-nosotros{
        width: 100%;
        height: 20vh;
    }
    .fig-nosotros img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
    }
  
    .text-nosotros{
        width: 100%;
        height: auto;

        padding: 1.5em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
    }
  
    .text-nosotros h2{
        width: 70%;
        font-size: 2rem;
        font-family: sans-serif;
        font-weight: 100;
        letter-spacing: 5px;
        color: #d5a20a;
        padding: 1em;
       
    }
    .text-nosotros p{
      width: 80%;
      font-size: 1.2rem;
        line-height: 1.5em;
    }
  
    .cinta{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        gap: 50px;
        align-items: center;
        padding: 1em;
        background-color: #191919;
        color: #eee;
        font-weight: 100;
       
    }
    .cinta h2{
        font-family: sans-serif;
        font-weight: 100;
    }
  
    .card-skill{
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
      }
      
   
  
  .card {
      position: relative;
      width: 300px;
      height: 350px;
      margin: 20px;
  }
  
 
  .card .face {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      border-radius: 10px;
      overflow: hidden;
      transition: .5s;
  }
  
  .card .front {
      transform: perspective(600px) rotateY(0deg);
      box-shadow: 0px 10px 17px 3px #EABE3F;
  }
  
  .card .front img {
      position: absolute;
      width: 100%;
      height: 100%;
     
  }
  
  .card .front h3 {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 45px;
      line-height: 45px;
      color: #d5a20a;
      background: rgba(0,0,0,.4);
      text-align: center;
      font-family: sans-serif;
        font-weight: 100;
  }
  
  .card .back {
      transform: perspective(600px) rotateY(180deg);
      background: #121212;
      padding: 15px;
      color: #efb810;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
      box-shadow: 0px 0px 17px 0px #EABE3F;
      
  }
  
  .card .back .link {
      border-top: solid 1px #f3f3f3;
      height: 50px;
      line-height: 50px;
  }
  
  .card .back .link a {
      color: #f3f3f3;
  }
  
  .card .back h3 {
      font-size: 30px;
      margin-top: 20px;
      letter-spacing: 2px;
      font-family: sans-serif;
      font-weight: 100;
  }
  
  .card .back p {
      letter-spacing: 1px;
  } 
  
  .card:hover .front {
      transform: perspective(600px) rotateY(180deg);
  }
  
  .card:hover .back {
      transform: perspective(600px) rotateY(360deg);
  }
  
  
  
      .sect-nosotros-mensaje{
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        height: auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-image: linear-gradient(180deg, #000000db 0%, #000000c8 100%), url('../assets/Img/img-4.webp');
        background-size: 100% 100%;
        margin-bottom: 1em;
        padding: 1em;
      }
  
      .nosotros-mensaje-uno{
        width: 45%;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 5vh;
        font-size: 1.5em;
       
      }
  
      .nosotros-mensaje-uno p{
        font-weight: 800;
        color: #fff;
        font-family: sans-serif;
        font-weight: 100;
        
      }
  
      .nosotros-mensaje-dos{
        width: 45%;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 3vh;
        font-size: 1.5em;
        background-color: #FFF;
        padding: 1em;
        box-shadow: 0px 0px 17px 0px #EABE3F;
        border-radius: 15px;
       
      }
  
      .nosotros-mensaje-dos p{
        font-size: 0.8em;
        line-height: 35px;
      }


      /*servicios*/
      .sect-service{
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        height: auto;
        background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../Assets/Img/img5.jpg');
        box-shadow: 0px 0px 17px 0px #EABE3F;

       
   
      }
  
      .art-service{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      
      }
  
      .text-service{
        width: 75%;
       height: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1em;
        text-align: center;
        
      }

      .text-service h2{
        font-family: sans-serif;
        
    
      }
  
      .text-service p{
        margin-top: 1.5rem;
        line-height: 25px;
        font-family: sans-serif;
        font-weight: 600;
      }

      .sect-service-art{
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        height: auto;
        display: flex;
        flex-wrap: wrap;
      }

      .art-service-art{
        width: 90%;
        height: auto;
        display: flex;
        align-items: center;
        margin: 1em auto;
        padding: 1em;


      }

      .div-service-text{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
       
        justify-content: center;
        gap: 15px;
        padding: 1rem;
        background-color: #ffffff; 
        box-shadow: 0px 0px 17px 0px #EABE3F;
      
      }

      .div-service-text h2{
        font-family: sans-serif;
        font-weight: 100;
        font-size: 1.2em;
      }

    

      .div-service-text p{
        width: 100%;
        font-size: 0.9em;
        line-height: 3vh;
        padding: 0.8em;
      }  
      
      .div-service-text h3{
        width: 100%;
        padding: 0.3em;
        font-size: 0.9em;
        letter-spacing: 1px;
        border-radius: 5px;
        font-family: sans-serif;
        font-weight: 100;
        background: linear-gradient(to left, #d5a20a 10%, #171717 50%);
        color: #ffffff;
      }

      .div-figure-img{
        width: 100%;
        height: 90%;
        background-color: #696458;
       
        overflow: hidden;
        box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.75);

      }

      .div-figure-img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
      }

      /**CONTACTANOS*/
      .sect-contact{
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;

       
      }

      .art-contact{
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        padding: 2em;
        box-shadow: 0px 0px 17px 0px #EABE3F;

     
      }

      .div-cont{
        width: 45%;
       
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
       
      }

      .form-contact{
        width: 45%;
       
        background-image: linear-gradient(rgba(0, 0, 0, 0.707), rgba(0, 0, 0, 0.5)), url('../assets/Img/img-3.jpeg');
        background-size: 100% 100%;
        background-repeat: no-repeat;

      }

      .maps{
        width: 100%;
        height: 250px;
        
        overflow: hidden;
      }

      .contac-info{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1em;
        box-shadow: 0px 0px 17px 0px #EABE3F;
      }

      .contac-info li{
        list-style: none;
        color: #121212;
       
        margin: 0.8em 0;
      }
      .contact-mensaje{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #121212;
        color: #ffffff;
        line-height: 5vh;
        padding: 1.5em;
        color: #EABE3F;
        box-shadow: 0px 0px 17px 0px #EABE3F;
      }

      .form-contact{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 17px 0px #EABE3F;
      }

      .grupo-inputs{
        width: 100%;
     
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: #000000d6;
        padding: 1rem;
      }
      .grupo-inputs label{
        width: 40%;
        color: #eee;
        font-family: sans-serif;
        font-weight: 100;
      }

      .grupo-inputs input{
        width: 50%;
        padding: 1em 0;
        border-radius: 15px;
        border: none;
        text-align: center;
      }

      .input-mesaje{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
      
      }
      .input-mesaje textarea{
        width: 90%;
        height: 100px;
      }
      .input-mesaje label{
        width: 100%;
        
        padding: 1em;
        font-size: 1.5rem;
      }

      .buttons-form{
        width: 100%;
        height: 5vh;
        display: flex;
        justify-content: center;
        margin: 1rem 0;
      }

      .buttons-form button{
        width: 25%;
        background: none;
        border: none;
        outline: none;
        background-color: #EABE3F;
        color: #121212;
        border-radius: 15px;
      
      }


       /*PRIVACIDAD*/
       /*pagina de politica*/

       .sect-privacidad{
        padding: 1em;
       }

       .title-politicas{
        width: 100%;
        max-width: 1440px;
        height: 20vh;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        
        
      }
      .title-politicas h2{
        font-family: sans-serif;
        font-weight: 100;
        background-color: #171717;
        padding: 0.8em;
        color: #b88703;
        border-radius: 15px;
      }

      .art-politica{
        width: 95%;
        max-width: 1440px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        
      }

      .politica{
          width: 30%;
          height: 700px;
          display: flex;
          align-items: center;
          padding: 1rem;
          background-color: #171717;
      }

      .politica p{
        font-size: 1.5rem;
        color: #b88703;
      }

      .politica-uso{
        width: 70%;
        height: 90%;
        background-color: bisque;
      }

      .acordeon {
        width: 100%;
        
        padding: 2rem;
        color: var(--negro);
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
        border-radius: 1rem;
        background-color: #f3f3f3;
        -webkit-box-shadow: 0.4rem 0.4rem 0.8rem var(--sombra-ppal), -0.4rem -0.4rem 0.8rem var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
                box-shadow: 0.4rem 0.4rem 0.8rem var(--sombra-ppal), -0.4rem -0.4rem 0.8rem var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
      }
      
      .acordeon .bloque {
        margin: 0 0 1rem;
        padding: 1rem;
        color: var(--negro);
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
        border-radius: 1rem;
        background-color: var(--blanco);
        -webkit-box-shadow: 0.4rem 0.4rem 0.8rem var(--sombra-ppal), -0.4rem -0.4rem 0.8rem var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
                box-shadow: 0.4rem 0.4rem 0.8rem var(--sombra-ppal), -0.4rem -0.4rem 0.8rem var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
      }
      
      .acordeon .h2 {
        margin: 0 0 1rem;
        padding: 0.5rem;
        font-size: 1rem;
        color: var(--negro);
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
        border-radius: 1rem;
        background-color: var(--blanco);
        -webkit-box-shadow: 0.4rem 0.4rem 0.8rem var(--sombra-ppal), -0.4rem -0.4rem 0.8rem var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
                box-shadow: 0.4rem 0.4rem 0.8rem var(--sombra-ppal), -0.4rem -0.4rem 0.8rem var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
        cursor: pointer;
      }
      .acordeon .h2:hover {
        color: #b88703;
        -webkit-transition: all 0.4s ease;
        transition: all 0.4s ease;
        background-color: #171717;
        -webkit-box-shadow: 0 0 0 transparent, 0 0 0 transparent, inset 0.4rem 0.4rem 0.8rem var(--sombra-ppal), inset -0.4rem -0.4rem 0.8rem var(--sombra-sec);
                box-shadow: 0 0 0 transparent, 0 0 0 transparent, inset 0.4rem 0.4rem 0.8rem var(--sombra-ppal), inset -0.4rem -0.4rem 0.8rem var(--sombra-sec);
      }
      
      .acordeon .contenido {
        height: 0;
        padding: 0rem;
        overflow: hidden;
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
      }
      
      .acordeon .bloque.activo .contenido {
        height: auto;
        font-size: 0.8rem;
      }
  
.footer{
    width: 100%;
    height: 200px;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px #EABE3F solid;
    background-color: #171717;
    color: #eee;
    font-size: 0.5em;

  }
  
  .footer-colum{
    margin: 0 5em;
    height: 100%;
   
  }
  
  .footer-colum li{
    padding-top: 1rem;
    list-style: none;
    color: #eee;
  }
  
  .footer-colum li a{
    text-decoration: none;
    font-size: 0.8rem;
    color: #eee;
    font-family: sans-serif;
    font-weight: 100;
  }
  
  .icon-footer{
    font-size: 1rem;
    padding-right: 1rem;
   
   
  }
  .fig-footer{
    width: 100%;
    height: 50%;
  
  }
  
  .fig-footer img{
    width: 100%;
    height: 100%;
  }

  
  @media(min-width:421px) and (max-width:920px){
    .nav ul{
        width: 100%;
        gap: 0;
 
       }
 
       .nav ul li{
         width: 20%;
         margin-left: 5px;
         
       }
 
       .nav ul li a{
         font-size: 0.8em;
       }
       .nav ul li a .icon{
         font-size: 1.5em;
       }
       .nav ul li a .text{
         font-size: 0.8em;
         margin: 0;
       }

       .slider .list .item .content h2{
        font-size: 1.2em;
      }

      .slider .list .item .content p{
        font-size: 0.8em;
        line-height: 20px;
      }

      .art-bienvenidos{
        flex-direction: column;
      }
      .text-bienvenidos{
        width: 100%;
        text-align: center;
        padding: 0;
      }

      .text-title-system h2{
        width: 100%;
        font-size: 0.9em;
      }
      .text-parrafo-system p{
        width: 100%;
      }

      .figure-bienvenidos{
        width: 100%;
        height: 250px;
      }

       .hero__title{
        padding: 1em;
        font-size: 1.5em;
       }

       .text-nosotros{
        padding: 0;

       }

       .text-nosotros h2{
        width: 100%;
        font-size: 1.3em;
       }

       .text-nosotros p{
            width: 100%;
       }

       .cinta h2{
        font-size: 0.7em;
        width: 100%;
      }

      .card-skill{
        flex-direction: column;
      }

      .sect-nosotros-mensaje{
        flex-direction: column;
      }

      .nosotros-mensaje-uno{
        width: 100%;
        padding: 1em;
      }

      .nosotros-mensaje-dos {
        width: 100%;
      }

      .art-service-art{
        width: 100%;
        flex-direction: column;
      }

      .img-service-text-1{
        order: 1;
    }
    .item-service-text-1{
        order: 2;
    }

    .art-contact{
        width: 100%;
        padding: 0.8em;
        flex-direction: column;
    }

    .div-cont{
        width: 100%;
    }

    .art-politica{
        flex-direction: column;
    }

    .politica{
        width: 100%;
    }

    .politica-uso{
        width: 100%;
    }


      .footer{
        flex-direction: column;
        height: auto;
      }
     .colum-fig{
        width: 100%;
        padding: 2.5em;

      }

      .footer-colum li{
        text-align: center;
      }


     
  }




  @media(min-width:0px) and (max-width:420px){
      .header-figure{
        height: 200px;
      }

      .nav ul{
       width: 100%;
       gap: 0;

      }

      .nav ul li{
        width: 20%;
        margin-left: 5px;
        
      }

      .nav ul li a{
        font-size: 0.8em;
      }
      .nav ul li a .icon{
        font-size: 1.5em;
      }
      .nav ul li a .text{
        font-size: 0.8em;
        margin: 0;
      }


      .slider .list .item .content h2{
        font-size: 1.2em;
      }

      .slider .list .item .content p{
        font-size: 0.8em;
        line-height: 20px;
      }

      .art-bienvenidos{
        flex-direction: column;
      }
      .text-bienvenidos{
        width: 100%;
        text-align: center;
        padding: 0;
      }

      .text-title-system h2{
        width: 100%;
        font-size: 0.9em;
      }
      .text-parrafo-system p{
        width: 100%;
      }

      .figure-bienvenidos{
        width: 100%;
        height: 250px;
      }

      .cinta h2{
        font-size: 0.8em;
      }

      .text-nosotros{
        padding: 0;

       }

       .text-nosotros h2{
        width: 100%;
        font-size: 1.3em;
       }

       .text-nosotros p{
            width: 100%;
       }

       .cinta h2{
        font-size: 0.8em;
        width: 100%;
      }

      .hero__title{
        padding: 1em;
        font-size: 1.2em;
       }
      .card-skill{
        flex-direction: column;
      }

      .sect-nosotros-mensaje{
        flex-direction: column;
      }

      .nosotros-mensaje-uno{
        width: 100%;
        padding: 1em;
      }

      .nosotros-mensaje-dos {
        width: 100%;
      }



      .art-service-art{
        width: 100%;
        flex-direction: column;
      }

      .img-service-text-1{
        order: 1;
    }
    .item-service-text-1{
        order: 2;
    }

    .art-contact{
        width: 100%;
        padding: 0.8em;
        flex-direction: column;
    }

    .div-cont{
        width: 100%;
    }

    .art-politica{
        flex-direction: column;
    }

    .politica{
        width: 100%;
    }

    .politica-uso{
        width: 100%;
    }
    


      .footer{
        flex-direction: column;
        height: auto;
      }
     .colum-fig{
        width: 100%;
        padding: 2.5em;

      }

      .footer-colum li{
        text-align: center;
      }

     

  }






